{% extends 'base.html' %}
{% block content %}
	<form method="POST" action="{% url 'post' %}">
		{% csrf_token %}
		<br>
		<h2>Post your blog here</h2>
	  <div class="form-group">
	    <input type="form-text" class="form-control"  aria-describedby="emailHelp" placeholder="Author Name" name="author">
	  </div>
	  <div class="form-group">
	    <input type="form-text" class="form-control" id="exampleInputPassword1" placeholder="Title of your blog" name="title">
	  </div>
	  <div class="form-group">
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Blog content" name="content"></textarea>
	  </div>
	 
	  <button type="submit" class="btn btn-secondary">Submit</button>
	</form>
{% endblock %}